<%
var messageLink = '/dashboard';
var logsLink = '/dashboard/logs';

var messageClass = staticHelper.currentPage(messageLink, req);
var logsClass = staticHelper.currentPage(logsLink, req);

// TODO: Convert into isAdmin (or just set req.session.isAdmin)
// var loggedIn = req.session != null && req.session.userID != null;
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title></title>
  </head>
  <body>
    <header>
      <a href="/dashboard">
        <div class="logo">Review <span class="color">Norm</span></div>
      </a>
      <div class="name"><%= req.session.userName %></div>
    </header>
    <div class="side">
      <a href="<%= messageLink %>" class="<%= messageClass %>">
        <img class="icon" src="/images/message.png" alt="">
        <div class="text">Message</div>
      </a>
      <a href="<%= logsLink %>"class="<%= logsClass %>">
        <img class="icon" src="/images/list.png" alt="">
        <div class="text">Logs</div>
      </a>
      </div>
      <div class="admin group">

      </div>
    </div>
    <div class="content">
      <%-body%>
    </div>
  </body>
</html>
