<%
var dashboardLink = '/dashboard';
var statsLink = '/dashboard/stats';
var logsLink = '/dashboard/logs';
var settingsLink = '/dashboard/settings';

var dashboardClass = staticHelper.currentPage(dashboardLink, req);
var statsClass = staticHelper.currentPage(statsLink, req);
var logsClass = staticHelper.currentPage(logsLink, req);
var settingsClass = staticHelper.currentPage(settingsLink, req);

// TODO: Convert into isAdmin (or just set req.session.isAdmin)
// var loggedIn = req.session != null && req.session.userID != null;
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div class="side">
      <a href="<%= dashboardLink %>" class="min"><div class="logo">Effortless Reviews</div></a>
      <nav>
        <a href="<%= dashboardLink %>" class="<%= dashboardClass %>"><img src="/images/message-white.svg" alt=""> Dashboard</a>
        <a href="<%= statsLink %>" class="<%= statsClass %>"><img src="/images/chart-white.svg" alt=""> Statistics</a>
        <a href="<%= logsLink %>" class="<%= logsClass %>"><img src="/images/list-white.svg" alt=""> Logs</a>
        <a href="<%= settingsLink %>" class="<%= settingsClass %>"><img src="/images/settings-white.svg" alt=""> Settings</a>
      </nav>
    </div>
    <div class="content">
      <div class="center">
        <%- body %>
      </div>
    </div>
  </body>
</html>
